$primary-color: #ffcc00;
$background-color: #222;
$background-panel-color: #444;
$background-panel-secondary-color: #555;
$text-primary-color: #fff;
$font-size: 16px;
$font-family: "Roboto", Arial, sans-serif;
