@import "./variables";

.leaderboardTab {
    padding: 20px;
    overflow-x: auto;
}

.leaderboardTable {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;

    th {
        background-color: $background-panel-color;
        color: $primary-color;
        font-weight: bold;
        padding: 10px;
        border: 1px solid $background-color;
        text-align: left;
        position: relative;
        cursor: pointer;
    }

    .arrow {
        position: absolute;
        right: 8px;
        top: 50%;
        transform: translateY(-50%);
        width: 0;
        height: 0;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
    }

    .arrow.asc {
        border-bottom: 4px solid $primary-color;
    }

    .arrow.desc {
        border-top: 4px solid $primary-color;
    }

    td {
        padding: 10px;
        border: 1px solid $background-color;
    }

    @media (max-width: 768px) {
        th,
        td {
            font-size: 14px;
            padding: 8px;
        }
    }
}
